.highlight {
    box-shadow: rgba(0, 33, 255, 0.14) 0px 0px 3px 3px;
}
.highlight.success {
    box-shadow: rgba(17, 187, 9, 0.46) 0px 0px 2px 2px;
}
.highlight.error {
    box-shadow: rgba(170, 5, 5, 0.35) 0px 0px 3px 3px;
}

.disabled-product *{
    color: #808080;
    font-style: italic;
}